In [1]:
import pandas as pd
import sys

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)

Python version 3.5.2 | packaged by conda-forge | (default, Jan 19 2017, 15:41:23) [MSC v.1900 64 bit (AMD64)]
Pandas version 0.22.0

In [3]:
d={'one':[1,1],'two':[2,2]}
i=['a','b']
df=pd.DataFrame(data=d,index=i)
df

   one  two
a    1    2
b    1    2

In [4]:
df.index

Index(['a', 'b'], dtype='object')

In [5]:
stack=df.stack()
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [6]:
stack.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [9]:
df

   one  two
a    1    2
b    1    2

In [10]:
df.index

Index(['a', 'b'], dtype='object')

In [11]:
unstack=df.unstack()
unstack

one  a    1
     b    1
two  a    2
     b    2
dtype: int64

In [13]:
unstack.index

MultiIndex(levels=[['one', 'two'], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [14]:
df.T

     a  b
one  1  1
two  2  2