In [1]:
import pandas as pd
import sys

print('Pandas version ' + pd.__version__)
print('Python version ' + sys.version)

Pandas version 0.22.0
Python version 3.5.2 | packaged by conda-forge | (default, Jan 19 2017, 15:41:23) [MSC v.1900 64 bit (AMD64)]

In [3]:
d=[0,1,2,3,4,5,6,7,8,9]
df=pd.DataFrame(d)
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [4]:
df.columns=['Rev']
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9

In [5]:
df['NewCol']=5
df

   Rev  NewCol
0    0       5
1    1       5
2    2       5
3    3       5
4    4       5
5    5       5
6    6       5
7    7       5
8    8       5
9    9       5

In [6]:
df['NewCol']=df['NewCol']+1
df

   Rev  NewCol
0    0       6
1    1       6
2    2       6
3    3       6
4    4       6
5    5       6
6    6       6
7    7       6
8    8       6
9    9       6

In [8]:
del df['NewCol']
df

KeyError: 'NewCol'

In [9]:
df['test']=3
df['col']=df['Rev']
df

   Rev  test  col
0    0     3    0
1    1     3    1
2    2     3    2
3    3     3    3
4    4     3    4
5    5     3    5
6    6     3    6
7    7     3    7
8    8     3    8
9    9     3    9

In [10]:
i=['a','b','c','d','e','f','g','h','i','j']
df.index=i
df

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3
e    4     3    4
f    5     3    5
g    6     3    6
h    7     3    7
i    8     3    8
j    9     3    9

In [11]:
df.loc['a']

Rev     0
test    3
col     0
Name: a, dtype: int64

In [12]:
df.loc['a':'d']

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3

In [13]:
df.iloc[0:3]

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2

In [14]:
df['Rev']

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
Name: Rev, dtype: int64

In [15]:
df[['Rev','test']]

   Rev  test
a    0     3
b    1     3
c    2     3
d    3     3
e    4     3
f    5     3
g    6     3
h    7     3
i    8     3
j    9     3

In [16]:
df.loc[df.index[0:3],'Rev']

a    0
b    1
c    2
Name: Rev, dtype: int64

In [17]:
df.loc[df.index[5:],'col']

f    5
g    6
h    7
i    8
j    9
Name: col, dtype: int64

In [18]:
df.loc[df.index[:3],['col','test']]

   col  test
a    0     3
b    1     3
c    2     3

In [19]:
df.head()

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3
e    4     3    4

In [20]:
df.tail()

   Rev  test  col
f    5     3    5
g    6     3    6
h    7     3    7
i    8     3    8
j    9     3    9